BEGIN;
--
-- Create model WhatsAppAccount
--
CREATE TABLE "channels_whatsappaccount" ("id" uuid NOT NULL PRIMARY KEY, "connection_type" varchar(10) NOT NULL, "business_name" varchar(150) NOT NULL, "phone_number_id" varchar(64) NOT NULL, "waba_id" varchar(64) NOT NULL, "display_phone_number" varchar(32) NOT NULL, "access_token" text NOT NULL, "welcome_message" text NOT NULL, "request_contact_info" boolean NOT NULL, "status" varchar(15) NOT NULL, "is_active" boolean NOT NULL, "connected_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "organization_id" uuid NOT NULL);
--
-- Create model BulkMessageCampaign
--
CREATE TABLE "channels_bulkmessagecampaign" ("id" uuid NOT NULL PRIMARY KEY, "name" varchar(150) NOT NULL, "body" text NOT NULL, "template_name" varchar(100) NOT NULL, "status" varchar(15) NOT NULL, "created_at" timestamp with time zone NOT NULL, "started_at" timestamp with time zone NULL, "completed_at" timestamp with time zone NULL, "created_by_id" uuid NULL, "organization_id" uuid NOT NULL, "pipeline_id" uuid NOT NULL, "stage_id" uuid NULL, "account_id" uuid NOT NULL);
--
-- Create model WhatsAppMessage
--
CREATE TABLE "channels_whatsappmessage" ("id" uuid NOT NULL PRIMARY KEY, "direction" varchar(10) NOT NULL, "external_id" varchar(128) NULL UNIQUE, "from_number" varchar(32) NOT NULL, "to_number" varchar(32) NOT NULL, "body" text NOT NULL, "status" varchar(15) NOT NULL, "raw_payload" jsonb NOT NULL, "error" text NOT NULL, "is_read" boolean NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "account_id" uuid NOT NULL, "lead_id" uuid NULL, "organization_id" uuid NOT NULL);
--
-- Create model BulkMessageRecipient
--
CREATE TABLE "channels_bulkmessagerecipient" ("id" uuid NOT NULL PRIMARY KEY, "status" varchar(10) NOT NULL, "skip_reason" varchar(200) NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "campaign_id" uuid NOT NULL, "lead_id" uuid NOT NULL, "message_id" uuid NULL);
--
-- Create model WhatsAppTemplate
--
CREATE TABLE "channels_whatsapptemplate" ("id" uuid NOT NULL PRIMARY KEY, "name" varchar(150) NOT NULL, "category" varchar(20) NOT NULL, "template_format" varchar(10) NOT NULL, "status" varchar(20) NOT NULL, "body" text NOT NULL, "footer" varchar(60) NOT NULL, "attachment_type" varchar(10) NOT NULL, "buttons" jsonb NOT NULL, "meta_template_id" varchar(128) NOT NULL, "rejection_reason" text NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "account_id" uuid NOT NULL, "created_by_id" uuid NULL, "organization_id" uuid NOT NULL);
--
-- Create index channels_wh_organiz_18b21d_idx on field(s) organization, created_at of model whatsappmessage
--
CREATE INDEX "channels_wh_organiz_18b21d_idx" ON "channels_whatsappmessage" ("organization_id", "created_at");
--
-- Create index channels_wh_lead_id_c70ee6_idx on field(s) lead, created_at of model whatsappmessage
--
CREATE INDEX "channels_wh_lead_id_c70ee6_idx" ON "channels_whatsappmessage" ("lead_id", "created_at");
--
-- Create constraint uniq_campaign_lead on model bulkmessagerecipient
--
ALTER TABLE "channels_bulkmessagerecipient" ADD CONSTRAINT "uniq_campaign_lead" UNIQUE ("campaign_id", "lead_id");
--
-- Create constraint uniq_account_template_name on model whatsapptemplate
--
ALTER TABLE "channels_whatsapptemplate" ADD CONSTRAINT "uniq_account_template_name" UNIQUE ("account_id", "name");
ALTER TABLE "channels_whatsappaccount" ADD CONSTRAINT "channels_whatsappacc_organization_id_4e57a58f_fk_organizat" FOREIGN KEY ("organization_id") REFERENCES "organizations_organization" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "channels_whatsappaccount_organization_id_4e57a58f" ON "channels_whatsappaccount" ("organization_id");
ALTER TABLE "channels_bulkmessagecampaign" ADD CONSTRAINT "channels_bulkmessage_created_by_id_339c0d7f_fk_accounts_" FOREIGN KEY ("created_by_id") REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_bulkmessagecampaign" ADD CONSTRAINT "channels_bulkmessage_organization_id_39af99c1_fk_organizat" FOREIGN KEY ("organization_id") REFERENCES "organizations_organization" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_bulkmessagecampaign" ADD CONSTRAINT "channels_bulkmessage_pipeline_id_fb00de93_fk_crm_pipel" FOREIGN KEY ("pipeline_id") REFERENCES "crm_pipeline" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_bulkmessagecampaign" ADD CONSTRAINT "channels_bulkmessagecampaign_stage_id_be4224ec_fk_crm_stage_id" FOREIGN KEY ("stage_id") REFERENCES "crm_stage" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_bulkmessagecampaign" ADD CONSTRAINT "channels_bulkmessage_account_id_119e4313_fk_channels_" FOREIGN KEY ("account_id") REFERENCES "channels_whatsappaccount" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "channels_bulkmessagecampaign_created_by_id_339c0d7f" ON "channels_bulkmessagecampaign" ("created_by_id");
CREATE INDEX "channels_bulkmessagecampaign_organization_id_39af99c1" ON "channels_bulkmessagecampaign" ("organization_id");
CREATE INDEX "channels_bulkmessagecampaign_pipeline_id_fb00de93" ON "channels_bulkmessagecampaign" ("pipeline_id");
CREATE INDEX "channels_bulkmessagecampaign_stage_id_be4224ec" ON "channels_bulkmessagecampaign" ("stage_id");
CREATE INDEX "channels_bulkmessagecampaign_account_id_119e4313" ON "channels_bulkmessagecampaign" ("account_id");
ALTER TABLE "channels_whatsappmessage" ADD CONSTRAINT "channels_whatsappmes_account_id_71c105dc_fk_channels_" FOREIGN KEY ("account_id") REFERENCES "channels_whatsappaccount" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_whatsappmessage" ADD CONSTRAINT "channels_whatsappmessage_lead_id_3a8e0cf4_fk_crm_lead_id" FOREIGN KEY ("lead_id") REFERENCES "crm_lead" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_whatsappmessage" ADD CONSTRAINT "channels_whatsappmes_organization_id_3609361f_fk_organizat" FOREIGN KEY ("organization_id") REFERENCES "organizations_organization" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "channels_whatsappmessage_external_id_ffc6325d_like" ON "channels_whatsappmessage" ("external_id" varchar_pattern_ops);
CREATE INDEX "channels_whatsappmessage_account_id_71c105dc" ON "channels_whatsappmessage" ("account_id");
CREATE INDEX "channels_whatsappmessage_lead_id_3a8e0cf4" ON "channels_whatsappmessage" ("lead_id");
CREATE INDEX "channels_whatsappmessage_organization_id_3609361f" ON "channels_whatsappmessage" ("organization_id");
ALTER TABLE "channels_bulkmessagerecipient" ADD CONSTRAINT "channels_bulkmessage_campaign_id_982a283d_fk_channels_" FOREIGN KEY ("campaign_id") REFERENCES "channels_bulkmessagecampaign" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_bulkmessagerecipient" ADD CONSTRAINT "channels_bulkmessagerecipient_lead_id_58cf7406_fk_crm_lead_id" FOREIGN KEY ("lead_id") REFERENCES "crm_lead" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_bulkmessagerecipient" ADD CONSTRAINT "channels_bulkmessage_message_id_90476758_fk_channels_" FOREIGN KEY ("message_id") REFERENCES "channels_whatsappmessage" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "channels_bulkmessagerecipient_campaign_id_982a283d" ON "channels_bulkmessagerecipient" ("campaign_id");
CREATE INDEX "channels_bulkmessagerecipient_lead_id_58cf7406" ON "channels_bulkmessagerecipient" ("lead_id");
CREATE INDEX "channels_bulkmessagerecipient_message_id_90476758" ON "channels_bulkmessagerecipient" ("message_id");
ALTER TABLE "channels_whatsapptemplate" ADD CONSTRAINT "channels_whatsapptem_account_id_3807b28e_fk_channels_" FOREIGN KEY ("account_id") REFERENCES "channels_whatsappaccount" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_whatsapptemplate" ADD CONSTRAINT "channels_whatsapptem_created_by_id_10603dc1_fk_accounts_" FOREIGN KEY ("created_by_id") REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "channels_whatsapptemplate" ADD CONSTRAINT "channels_whatsapptem_organization_id_387e48ed_fk_organizat" FOREIGN KEY ("organization_id") REFERENCES "organizations_organization" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "channels_whatsapptemplate_account_id_3807b28e" ON "channels_whatsapptemplate" ("account_id");
CREATE INDEX "channels_whatsapptemplate_created_by_id_10603dc1" ON "channels_whatsapptemplate" ("created_by_id");
CREATE INDEX "channels_whatsapptemplate_organization_id_387e48ed" ON "channels_whatsapptemplate" ("organization_id");
COMMIT;
