{% extends "base_legacy.html" %}
{% load static %}

{% block extra_head %}
{{ block.super }}
{% include "base/premium_shell_assets.html" %}
<link rel="stylesheet" href="{% static 'css/reminder_notifications.css' %}">

<script src="{% static 'js/reminder_notifications.js' %}" defer></script>
<script src="{% static 'js/ai_setup_knowledge_delete.js' %}" defer></script>
<script src="{% static 'js/ai_setup_playground.js' %}" defer></script>
<script src="{% static 'js/whatsapp_embedded_signup_direct.js' %}" defer></script>
{% include "support/partials/attention_assets.html" %}
{% endblock %}
