{% extends "superadmin/base.html" %}

{% block content %}
{% include "superadmin/org_detail/_overview.html" %}
{% include "superadmin/org_detail/_control_center.html" %}
{% include "superadmin/org_detail/_justdial.html" %}
{% include "superadmin/org_detail/_model_routing.html" %}
{% include "superadmin/org_detail/_modals.html" %}
{% include "superadmin/org_detail/_payment_user_scripts.html" %}
{% include "superadmin/org_detail/_external_ai_operations.html" %}
{% include "superadmin/org_detail/_footer_scripts.html" %}
{% endblock %}
